body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.Navbar{
    display: flex;
    justify-content: center;
}
.fixed{
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    width: 385px;
    background-color: rgb(32, 32, 32);
    border: 2px solid rgb(51, 51, 51);
    border-radius: 30px;
    position: fixed;
    display: flex;
    align-items: center;
}
.name{
    position: fixed;
}
.name h1{
    color: white;
    font-size: 1.3vw;
    font-family: 'Times New Roman', Times, serif;
}
.name h2{
    margin-top: -5px;
    color: rgb(145, 144, 144);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 41px;
    color: rgb(200, 200, 200);
    text-decoration: none;
}
.active{ 
    color:white;
    font-size: 25px;
    display: flex;
    height: 45px;
    width: 125px;
    margin-right: 41px;
    border-radius: 30px;
    align-items: center;
    background-color: rgb(50, 50, 50);
}
 .work {
    display: flex;
    height: 45px;
    margin-left: 12px;
    width: 85px;
    border-radius: 30px;
    align-items: center;
}
 .info { 
    display: flex;
    height: 45px;
    width: 85px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.example { 
    display: flex;
    height: 45px;
    width: 125px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: 200px;
    color: white;
}
.card{
    padding: 30px;
    background-color: rgb(19, 19, 19);
    width: 500px;
    height: 580px;
    border: solid rgb(101, 101, 101) 1px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 760px;
    margin-bottom: -150px;
    transition: 0.1s;
}
.card:hover{
cursor: pointer;
margin-top: 195px;
background: linear-gradient(180deg,rgba(7, 130, 245, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
}
.card img{
    margin-top: 20px;
    width: 500px;
    height: 450px;
}
.card h1{
    color: white;
    font-size: 30px;
    margin-left: 25px;
    margin-top: -20px;
}
.card h2{
    margin-top: 30px;
    color: rgb(202, 200, 200);
    font-size: 22px;
    margin-left: 110px;
}
.card span{
    font-size: 18px;
    color: rgb(140, 140, 140);
}
.about{
    margin-top: 120px;
    margin-left: 400px;
    margin-top: 250px;
}
.about h1{
font-size: 2.5vw;
color: white;
}
.infoCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    margin-left: 560px;
    background-color: rgb(32, 32, 32);
    border: 3px solid rgb(83, 83, 83);
    border-radius: 30px;
    padding: 40px;
}
.infoCard h2{
   font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 25px;
    color: rgb(158, 158, 158);
}
.infoCard h1{
    margin-top: -340px;
    font-size: 35px;
    color: white;
}
.Cards{
    margin-bottom:750px ;
    user-select: none;
    margin-bottom: 900px;
}
.CArds div img{
    width: 150px;
    height: 100px;
}
.CArds div li{
    list-style-type: none;
    color: white;
    font-size: 20px;
}
.CArds div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: rgb(26, 25, 25);
    border: 2px solid rgb(66, 66, 66);
}
.CArds div:hover{
    box-shadow: 5px 5px 40px rgb(85, 85, 85);
}
.CArds{
    width: 200px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    margin-bottom: -150px;
    margin-left: 300px;
}
#select{
    position: absolute;
    height: 35px;
    width: 280px;
    margin-top: -145px;
    margin-left: 1600px;
    background-color: rgb(31, 31, 31);
    color: white;
} 
#input{
    position: absolute;
    height: 30px;
    width: 290px;
    margin-top: -140px;
    margin-bottom: -20px;
    margin-left: 330px;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 2px solid rgb(70, 70, 70);
}
.Country img{
    width: 350px;
    height: 300px;
}
.Country li{
 list-style-type: none;
    color: white;
    font-size: 40px;
    margin-top: 20px;
}
.text{
    margin-top: -300px;
    margin-left: 400px;
}
.Country{
    width: 1000px;
    height: 600px;
}
.Country2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 20px;
    margin-top: 600px;
    margin-left: -1200px;
}
.Country2 p{
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(31, 31, 31);
    border: 2px solid rgb(70, 70, 70);
    margin-bottom: -20px;
}
.Country2 p:hover{
    box-shadow: rgb(96, 96, 96) 5px 5px 50px;
    cursor: pointer;
}
.Country2 img{
    width: 150px;
    height: 100px;
}
.Country2 li{
 list-style-type: none;
    color: white;
    font-size: 20px;
}
.Country2 h1{
position: absolute;
color: white;
font-size: 35px;
margin-top: -50px;
}
.one{
    position: absolute;
    margin-top: 50px;
    z-index: 7;
}
.two{
    position: absolute;
    margin-top: 65px;
    z-index: 6;
}
.three{
    position: absolute;
    margin-top: 80px;
    z-index: 5;
}
.four{
    position: absolute;
    margin-top: 95px;
    z-index: 4;
}
.five{
    position: absolute;
    margin-top: 110px;
    z-index: 3;
}
.six{
    position: absolute;
    margin-top: 125px;
    z-index: 2;
}
.seven{
    position: absolute;
    margin-top: 140px;
    z-index: 1;
}
.con{
     margin-top: -600px;
     margin-left: 850px;
}
path{
    stroke: black;
    stroke-width: 2px;
    fill: #ececec;
    transition: 1s;
}
path:hover{
fill: rgb(143, 4, 4);
}
.conhover{
    position: relative;
    color: #ececec;
    margin-top: -10px;
    margin-left: 750px;
}
.concurrent{
    position: relative;
    color: #ececec;
    margin-top: -10px;
    margin-left: 750px;
}
.conbordering{
    position: relative;
    color: #ececec;
    margin-top: -10px;
    margin-left: 750px;
}
.conhover .hover{
    position: absolute;
    margin-left: -30px;
    background-color: rgb(143, 4, 4);
width: 20px;
height: 20px;
}
.concurrent .current{
     position: absolute;
    margin-left: -30px;
    width: 20px;
height: 20px;
    background-color: red;
}
.conbordering .bordering{
     position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: rgb(226, 83, 83);
}
.Con{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 120px;
    margin-left: 200px;
    margin-bottom: 650px;
}
h1{
    position: absolute;
    color: white;
    margin-top: -140px;
    margin-left: 25px;
}
.Confrom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 100px;
    background-color: rgb(37, 37, 37);
    border: 3px solid rgb(66, 66, 66);
    border-radius: 20px;
    padding: 11px;
}
.ConTo{
 display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    height: 100px;
    background-color: rgb(37, 37, 37);
    border: 3px solid rgb(66, 66, 66);
    border-radius: 20px;  
    padding: 11px; 
}
#from{
    height: 35px;
    background-color: rgb(75, 75, 75);
    color: white;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 50px;
}
#fromNumber{
    margin-top: -5px;
    background-color: rgb(75, 75, 75);
    color: white;
    border: none;
    width: auto;
    height: 25px;
    border-radius: 10px;
}
#to{
    height: 35px;
    background-color: rgb(75, 75, 75);
    color: white;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 50px;
}
#toNumber{
    margin-top: -5px;
    background-color: rgb(75, 75, 75);
    color: white;
    border: none;
    width: auto;
    height: 25px;
    border-radius: 10px;
}
.ConChart{
    background-color: rgb(32, 32, 32);
    position: absolute;
    width: 700px;
    height: 350px;
    margin-top: 200px;
    margin-left: 360px;
    padding: 50px;
    border: 3px solid rgb(75, 75, 75);
}
 h4{
    color:  red;
    margin-left: 140px;
    margin-top: 140px;
    font-size: 20px;
}
.ConChart canvas{
    background-color: black;
}
.fromsymbol{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;
color: white;
}
.tosymbol{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 5px;
color: white;
}
.fromValue{
    margin-top: 15px;
    font-size: 20px;
color: white;
margin-left:  20px;
}
.tovalue{
    margin-top: 15px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.project{
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 890px;
}
.project a{
    background-color: transparent;
    color: #cacaca;
}
.project .active{
    color: white;
}